body {
  background-color: #1B1919;
}
.container {
  font-family: 'Crimson Text', serif;
}

#splash-view {
  position: fixed;  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width:100%;
}

.splash-img {
  background-color: #0c0501;
  height:100%;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#splash-view img {
  margin: 0 auto;
  width: 70%;
  height: auto;
}

header {
  font-family: 'Playball', cursive, bold;
  color: #D3C20B;
  padding-top: 1%;
  padding-bottom: 2%;
}

/* .img-home {
  max-width: 100%;
  height: 30%;
} */

#map {
  margin: 0;
  height: 300px;
  width: 90%;
  align-items: center;
}

.btn-light {
  background-color: #EFE038;
}

.filter-options {
  color: #FBFBFB;
}

@media (max-width: 667px) {
	.filter-options {
		margin-top: 30px;
	}
}